:root{
	--morado:#AD3ED7;
}

html{
	font-size:62.5%;
	box-sizing: border-box;
}

*,*::after,*::before{
	box-sizing: inherit;
}

body{
	font-size:16px;
	background: linear-gradient(100deg, rgba(30,144,255,1) 0%, rgba(0,212,255,1) 100%);
}

.titulo-logo{
	text-align: center;	
	color: white;
}
.contenido-flex{
	width: 95%;
	margin:0 auto;
}

.contenido-flex{
	gap:3rem;
}


@media(min-width: 768px){
	.contenido-flex{
	display: flex;
	}
}

.contenido-formulario{
	width:100%;
}

@media(min-width: 768px){
	.contenido-formulario{
	width:50%;
	}
}

@media(min-width: 1024px){
	.contenido-formulario{
	width:40%;
	}
}



.titulo-formulario,.titulo-contenido{
	color:white;
}

.span-formulario,.span-contenido{
	color:rgba(51,14,76);
}

/*================ estilos del formulario ================*/

.formulario{
	background:white;
	border-radius:.8rem;
/*	background:linear-gradient(
    0deg,
    rgb(255, 255, 255) 0%,
    rgb(244, 247, 251) 100%);*/
    box-shadow:1px 1rem 1rem rgba(0,0,0,.5);
}

.formulario fieldset{
	border:none;
}

.formulario fieldset legend{
	color: rgb(8, 91, 175);
	text-align: center;
	padding:2rem 0;
	text-transform: uppercase;
	font-weight: bold;
	letter-spacing: .1rem;
}

.formulario label{
	color: rgb(8, 91, 175);
	font-weight: bold;
	letter-spacing: 1px;
	text-transform: capitalize;
}

.formulario input{
	width: 100%;
	border-radius: .8rem;
	border:none;
	padding:1rem;
	/*box-shadow: #cff0ff 0px 10px 10px -5px;*/
	margin: 1rem 0;
	background-color:rgb(224, 231, 236);
}

.formulario input:focus,textarea{
	outline: none;
}

.img-paciente{
	width: 15rem;
	height: 15rem;
	position:relative;
	cursor:pointer;
	border-radius: .8rem;
}

.imagen-nueva{
	width: 15rem;
	height: 15rem;
	border-radius:.8rem;
}

.input-file{
	display: none;
}


.formulario textarea{
	resize: none;
	overflow:auto;
	width: 100%;
	height: 15rem;
	margin-top: 1rem;
	background-color:rgb(224, 231, 236);
	padding:1rem;
	border:none;
	border-radius: .8rem;
}

.formulario .button-flex{
	display:flex;
	justify-content: center;
}

.button[type="submit"] {
 font-size: 17px;
 padding: 0.5em 2em;
 border: transparent;
 box-shadow: 2px 2px 4px rgba(0,0,0,0.4);
 background: dodgerblue;
 color: white;
 border-radius: 4px;
 width: 90%;
 margin:1rem 0 2rem 0;
 text-transform: uppercase;
 cursor: pointer;
 text-align: center;
}

.button[type="submit"]:hover {
 background: rgb(2,0,36);
 background: linear-gradient(90deg, rgba(30,144,255,1) 0%, rgba(0,212,255,1) 100%);
}

.button[type="submit"]:active {
 transform: translate(0em, 0.2em);
}

/*========================== estilos del contenido ==========================*/


.contenido-paciente{
	width: 100%;
}

@media(min-width: 768px){
	.contenido-paciente{
		width: 50%;
	}
}

@media(min-width: 1024px){
	.contenido-paciente{
		width: 60%;
	}
}

.div-imagen{
	display:flex;
	justify-content: center;
}

.imagen-informacion{
	width: 150px;
	height: 150px;
	border-radius: 1.5rem;
}


.contenedor-informacion{
	 overflow-y: scroll;
}

.contenedor-paciente{
	width: 100%;
	background: white;
	padding:1rem 0;
	margin:2rem 0;
	border-radius: .8rem;
	box-shadow: .5rem 1rem 1.5rem rgba(0,0,0,.8);
}

.contenedor-paciente ol li{
	list-style: none;
	font-weight: bold;
}

.contenedor-paciente ol li span{
	color: rgb(8, 91, 175);
}
.contenedor-paciente ol li p{
	font-size:2rem;
	text-align: center;
}


/*Mensaje de alerta*/
.contenedor-alerta{
	width: 100%;
	margin:0 auto;
	padding:.5rem 2rem;
	margin: 1rem 0;
	text-align: center;
	border-radius: .8rem;
	color:white;
	text-transform: capitalize;
	font-weight: bold;
}

.alerta-error{
	background: #BD1C0F;
}

.alerta-exito{
	background: #0FBD37;
}


/*informacion*/
.div-botones_editar{
	margin-top: 1rem;
}

@media(min-width:790px){
	.div-botones_editar{
		display: flex;
		justify-content: space-between;
	}
}

.button{
	padding:1rem 2rem;
	/*background: #E9990E;*/
	border-radius: .8rem;
	width: 90%;
	border:none;
	color:white;
	font-weight: bold;
	text-transform: uppercase;
	display: flex;
	justify-content: space-around;
	cursor:pointer;
	transition:.2s ease;
}

@media(min-width:790px){
	.button{
		width:20%;
	}
}


.editar{
	background:#E9990E;
}

.eliminar{
	background:#BD3615;
	margin-right:1rem;
	margin-top:1rem;
}
@media(min-width:768px){
	.eliminar{
		margin-top:0;
	}
}

.editar:hover{
	background: #CD8509;
}
.eliminar:hover{
	background: #A02A0D;
}
.custom-button{
	background:  rgba(30, 144, 255, 1) ;
	transition:.2s ease-in
}

.custom-button:hover{
	background-color: rgb(8, 91, 175);
}

.custom-title{
	font-size: 3rem !important;
}

.custom-popup{
	font-size: 1.8rem;
	min-width: 400px;
	width: 500px;
}

